# Default ignored files
/../../../../:PycharmProjects/SACCO_SYSTEM_M_PESA/.idea/shelf/
/../../../../:PycharmProjects/SACCO_SYSTEM_M_PESA/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../:PycharmProjects/SACCO_SYSTEM_M_PESA/.idea/dataSources/
/../../../../:PycharmProjects/SACCO_SYSTEM_M_PESA/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../../:PycharmProjects/SACCO_SYSTEM_M_PESA/.idea/httpRequests/
