# Default ignored files
/../../../../:PycharmProjects/2NK_SYSTEM_MPESA/.idea/shelf/
/../../../../:PycharmProjects/2NK_SYSTEM_MPESA/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../:PycharmProjects/2NK_SYSTEM_MPESA/.idea/dataSources/
/../../../../:PycharmProjects/2NK_SYSTEM_MPESA/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../../:PycharmProjects/2NK_SYSTEM_MPESA/.idea/httpRequests/
