{% extends 'index.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update_car_details</title>
</head>
{% block content %}
    <body>
    <div class="main" style="margin-top: 120px;">
        <div class="container">
            <div class="formdiv" style="display: flex;align-items: center;justify-content: center;">
                <form class="updateform" method="post" enctype="multipart/form-data" onsubmit="SubmitResponse()"
                      style="display: grid;align-items: center;justify-content: center;">
                    {% csrf_token %}
                    {% for field in form %}
                        <label>{{ field.label_tag }}</label>
                        {{ field }}
                    {% endfor %}
                    <button class="btn btn-info mt-3 mb-3" type="submit">update</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        function SubmitResponse() {
            alert("The form was submitted Thankyou");
        }
    </script>
    </body>
{% endblock %}
</html>